*.fasta linguist-generated=true
*.ali linguist-generated=true
*.hmm linguist-generated=true
*.blast linguist-generated=true
*.out linguist-generated=true
*.class linguist-generated=true
*.ids linguist-generated=true
